# url is the full website URL
# baseurl is the website's URL without the hostname
url: "http://RECCAP2-ocean.github.io"
baseurl: ""

# This image will be in the top left corner of the navbar
logo: img/CCI_reccap2_positive_white.png

title: RECCAP2-ocean
description: REgional Carbon Cycle Assessment and Processes - ocean 

# List of links in the navigation bar
navbar-links:
  About: "about"
  News: "blog"
  Resources:
    - Protocols: "protocols"
    - Scripts: "scripts"
    - Data: "data"
    - Others: "other_resources"
  Publications: "publications"
  Organization: "organization"
  Contact: "contact"

# Change all these values or delete the ones you don't want (these appear in the footer).
# Important: you must keep the "name" parameter, everything else you can remove
author:
  name: "RECCAP2-ocean"
  email: ""
  github: RECCAP2-ocean
  facebook: yourname  # eg. daattali
  twitter: yourname   # eg. daattali

# Select which links to show in the footer
footer-links-active:
  github: true
  email: false
  rss: false
  facebook: false
  twitter: false

# Select which share links to show in posts
share-links-active:
  twitter: false
  facebook: false
  google: false
  linkedin: false
  
# Fill in your Disqus shortname (NOT the userid) if you want to support Disqus comments
disqus: ""

# Google Analytics ID
google_analytics: ""

# Output options (more information on Jekyll's site)
timezone: "Europe/London"
markdown: kramdown
highlighter: rouge
permalink: /:year-:month-:day-:title/
paginate: 5
paginate_path: "/blog/page:num/"

kramdown:
  input: GFM

# Default YAML values (more information on Jekyll's site)
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true  # add comments to all blog posts
      social-share: true # add social media sharing buttons to all blog posts
  -
    scope:
      path: "" # all files
    values:
      layout: "page"
      show-avatar: false

# Exclude these files from production site
exclude:
  - LICENSE
  - README.md

gems:
  - jekyll-paginate
